@font-face{
	font-family:'Roboto', sans-serif;
	src:url(../../../font/Roboto-Regular.ttf);
}
html {
 /*background-color: #5D92BA; 
 */
 background-color:#00994d;
}

.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.login {
  margin-top: 118px;
  margin-left:40px;
  width: 450px;
}

.login-heading{
 font-family: 'Roboto', sans-serif;
 font-size:48px;
 line-height: 1em;
 color: white;
 margin-bottom: -5px;
}

.input-txt {
  font-family: 'Roboto', sans-serif;
  src:url(../../../font/Roboto-Thin.ttf);
  width: 100%;
  padding: 20px 10px;
  background:#006633;
  border: none;
  font-size: 1em;
  color:#FFF;
  border-bottom: 2px dotted rgba(250, 250, 250, 0.4);

}
.input-txt:-moz-placeholder {
  color:#FFF;
}
.input-txt:-ms-input-placeholder {
  color:#FFF;
}
.input-txt::-webkit-input-placeholder {
  color:#FFF;
}
.input-txt:focus {
  background-color:#00e673;
}

.login-footer {
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}

.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  color:#333;
}

.btn--right {
  float: right;
}

.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.footercopyright{ 
	font-family: 'Roboto', sans-serif;
  	font-size: 15px;
  	color: white;
	width:200px; 
	height:50px;	
}